<div class="owl-carousel">
  <%= render @players %>
</div>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({

            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        })
    });
</script>