<p><span style="font-size: medium;"><strong>Zelez Sarfield</strong></span></p>
<p>&nbsp;</p>
<p>Time de futebol fundado em 2011 por Jos&eacute; Luiz e gerido inicialmente por Leandro Pariz, o time iniciou sua trajet&oacute;ria com algumas gl&oacute;rias e muitas vergonhas, por&eacute;m sempre seguiu, sem nunca abaixar a cabe&ccedil;a perante aos advers&aacute;rios.</p>
<p>Seu s&iacute;mbolo &eacute; o fusca (pertencente a Z&eacute; Luiz), que desde sua funda&ccedil;&atilde;o sempre foi o transporte oficial de seus atletas para jogos e competi&ccedil;&otilde;es.</p>

<img alt="Zelez Sarfield" src="/assets/logo.jpg">