<!DOCTYPE html>
<html>
<head>
  <title>Zelez Sarsfield</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Zelez Sarsfield</a>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/navigation/history">História</a></li>
          <li><a href="/players">Elenco</a></li>
          <li><a href="/contacts">Contato</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><img alt="Brand" src="/assets/fusca.gif"></li>
        </ul>
      </div>
    </div>
</div>


<div class="container">
  <%= yield %>
</div>
</body>
</html>
